<div class="audio-visualizer">
    <div class="audio-visualizer__controls">
        <div class="layout">
            <div class="layout__item u-1/2">
                {{view "select"
                content=songs
                optionValuePath="content.path"
                optionLabelPath="content.name"
                selection=selectedSong}}
            </div><!--
            --><div class="layout__item u-1/2">
                {{#if isLoadingPhotos}}
                    Loading ...
                {{else}}
                    {{#unless isPlaying}}
                        <div class="audio-visualizer__icon controls__play" {{action 'play'}}>
                            <div class="vizaudio-play"></div>
                        </div>
                    {{else}}
                        <div class="audio-visualizer__icon controls__stop" {{action 'stop'}}>
                            <div class="vizaudio-pause"></div>
                        </div>
                    {{/unless}}
                {{/if}}
            </div>
        </div>
    </div>
    <div class="audio-visualizer__viewer"></div>
</div>

