<div class="audio-visualizer">
    <div class="audio-visualizer__header">
        <div class="layout">
            <div class="layout__item u-1/1">
                <div class="player clearfix u-ml- u-mv- {{unless isProgressComplete 'hide'}}">
                    <div class="player__controls float-left">
                        {{#unless isPlaying}}
                            <div class="circle-icon" {{action 'play'}}>
                                <div class="circle-icon__symbol vizaudio-play"></div>
                            </div>
                        {{else}}
                            <div class="circle-icon" {{action 'stop'}}>
                                <div class="circle-icon__symbol vizaudio-pause"></div>
                            </div>
                        {{/unless}}
                    </div>
                    <div class="player__options float-left">
                        {{sexy-select
                        selection=selectedSong
                        options=songs
                        valueProperty="path"
                        labelProperty="name"
                        defaultLabel="Select A Song"}}
                    </div>
                </div>
            </div><!--
            --><div class="layout__item u-1/2">
                <div class="float-right u-mr- u-mt-">

                </div>
            </div>
        </div>
    </div>
    <div class="audio-visualizer__viewer">
        <div class="audio-visualizer__progress {{if isProgressComplete 'audio-visualizer__progress--hide'}}">
            <div class="audio-visualizer__progress__number">
                {{progress}}
            </div>
            <div class="audio-visualizer__progress__messages">
                {{loading-messages}}
            </div>
        </div>
        <div class="audio-visualizer__brand">
            <h3 class="u-mb0 inline">
                VISAUDIO
            </h3>
            <div class="inline social-facebook-with-circle icon fb-icon" {{action 'fbShare'}}></div>
            <div class="inline">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.visaudio.me/" data-via="ryanirilli" data-count="none" data-hashtags="visaudio">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
        </div>
    </div>
</div>

