<div class="sexy-select {{if isShowingBody 'sexy-select--open'}}">
    <div class="sexy-select__label u-pl-" {{action 'toggleBody'}}>
        {{or-that selectedLabel defaultLabel}}
        <div class="sexy-select__down-icon vizaudio-triangle-down"></div>
    </div>
    <div class="sexy-select__body">
        <ul class="list-bare">
            {{#each optionsLabels as |label|}}
                <li {{action 'selectItem' label}} class="sexy-select__item u-pv-- u-ph-">
                    {{label}}
                </li>
            {{/each}}
        </ul>
    </div>
</div>
