<div class="visaudio {{if _animateIn 'visaudio-showing'}}">
    <div class="user-info">
        {{#if profileUrl}}
            <div class="user-info__img">
                <img src="{{profileUrl}}" />
            </div>
        {{/if}}
    </div>


    <div class="visaudio__wrapper">
        <div class="polaroid">
            <div class="polaroid__viewer {{unless isConnectedToFacebook 'polaroid__viewer--default' }}">
              <div class="polaroid__img"></div>
              {{#if isLoadingPhotos}}
                  <div class="polaroid__progress">
                    {{progress-bar progress=progress}}
                  </div>
              {{/if}}
              {{#if isLoadingAudio}}
                  <div class="polaroid__loading-audio">
                    loading audio...
                  </div>
              {{/if}}
            </div>
        </div>


        {{#if isShowingControls}}
          <div class="layout u-mt fade-in {{if hasShownControls 'fade-in--show'}}">
            <div class="player layout__item u-1/2">

              <div class="controls">
                {{#if isPlaying}}
                    <i class="control control-icon controls__pause vizaudio-pause" {{action 'stop'}}></i>
                {{else}}
                  {{#if isLoadingAudio}}
                      <i class="control control-icon controls__loading vizaudio-cog"></i>
                  {{else}}
                      <i class="control control-icon controls__play vizaudio-play" {{action 'play'}}></i>
                  {{/if}}
                {{/if}}
                  <div class="control u-pl-">
                    {{sexy-select
                    selection=selectedSong
                    options=songs
                    valueProperty="path"
                    labelProperty="name"
                    defaultLabel="Select A Song"}}
                  </div>
              </div>

            </div><div class="connect layout__item u-1/2">
            {{#unless isConnectedToFacebook}}
                <button {{action 'fbConnect'}} class="
                      btn
                      btn--facebook
                      btn-with-icon
                      btn-with-icon--left
                      float-right">
                    <i class="btn__icon vizaudio-facebook"></i>
                    connect your photos
                </button>
            {{else}}
              {{#unless hasPublished}}
                  <div class="visaudio__share">
                      <div {{action 'share'}} class="{{if willPublish 'btn--loading'}} float-right btn-with-icon btn-with-icon--left btn btn--small btn--primary btn--silent btn--border-white">
                          <i class="btn__icon vizaudio-facebook"></i> Share
                      </div>
                  </div>
              {{/unless}}
            {{/unless}}
            </div>
          </div>

        {{else}}
          {{#unless isConnectedToFacebook}}
            {{#unless isConnectingToFacebook}}
              <div class="inline {{if willShowControls 'animate-scale-tiny'}}">
                  <button {{action 'fbConnect'}} class="u-mt
                      btn
                      btn--facebook
                      btn-with-icon
                      btn-with-icon--left
                      animate-scale-pulse">
                      <i class="btn__icon vizaudio-facebook"></i>
                      connect your photos
                  </button>
                  <a {{action 'sampleConnect'}} class="controls__sample-link">See a sample first...</a>
              </div>
            {{/unless}}
          {{/unless}}
        {{/if}}
    </div>
</div>

{{#if isShowingPublishSuccess}}
  {{#sexy-modal onClose=(action 'hidePublishSuccess')}}
      <div class="u-p">
        <div class="u-ph++">
            <img class="u-1/1 u-pt" src="/assets/image/dude-face.svg" />
        </div>
        <div class="media media--small">
            <div class="media__img">
                <i class="visaudio__success-icon vizaudio-circle-check"></i>
            </div>
            <div class="media__body text-pgraph">
              Your video is rendering. we'll post it shortly. Until then, keep on rockin' in the free world.
            </div>
        </div>
      </div>
  {{/sexy-modal}}
{{/if}}
