<div class="visaudio {{if animateIn 'visaudio-showing'}}">
    <div class="visaudio__wrapper">
        <canvas class="audio-animation"></canvas>
        <div class="polaroid">
            <div class="polaroid__viewer {{unless isConnectedToFacebook 'polaroid__viewer--default' }}">
              <div class="polaroid__img"></div>
              {{#if isLoadingPhotos}}
                  <div class="loading-photos">
                      <div class="loading-photos__number">
                        {{progress}}
                          <span class="loading-photos__symbol">
                        %
                    </span>
                      </div>

                  </div>
              {{/if}}

            </div>
            <div class="polaroid__footer">

                  {{#if isConnectedToFacebook}}
                    <div class="controls controls-connected">
                      {{#if isPlaying}}
                          <i class="control control-icon controls__pause vizaudio-pause" {{action 'stop'}}></i>
                      {{else}}
                          <i class="control control-icon controls__play vizaudio-play" {{action 'play'}}></i>
                      {{/if}}
                        <div class="control u-pl-">
                          {{sexy-select
                          selection=selectedSong
                          options=songs
                          valueProperty="path"
                          labelProperty="name"
                          defaultLabel="Select A Song"}}
                        </div>
                    </div>
                  {{else}}
                      <button {{action 'fbConnect'}} class="controls controls-unconnected btn btn--facebook btn-with-icon btn-with-icon--left u-mt">
                        <i class="btn__icon vizaudio-facebook"></i> connect your photos
                      </button>
                  {{/if}}

            </div>
        </div>
    </div>
</div>

